<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contacto</h2>
      <p>Estoy disponible para conversar sobre liderazgo técnico, arquitectura de software y nuevas oportunidades.</p>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-12">
        <div class="contact-card">
          <div class="row g-4">
            <div class="col-12 col-md-6" *ngFor="let item of contactItems">
              <div class="contact-item">
                <i class="bi" [ngClass]="item.icon"></i>
                <div>
                  <h4>{{ item.label }}</h4>
                  <p *ngIf="!item.href">{{ item.value }}</p>
                  <p *ngIf="item.href">
                    <a [href]="item.href" [attr.target]="item.external ? '_blank' : null" [attr.rel]="item.external ? 'noreferrer' : null">{{ item.value }}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
